<%- include('layouts/header') %>
	
	<h1>ERROR PAGE</h1>
	<div class="grid_6">
		<h2><%- message %></h2>
		<div>
			
			<br>
			<a href="/">Back to Work</a>
		</div>
	</div>
   
<%- include('layouts/footer') %>
 